.headerContainer {
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 125px;
  gap: 10px;
}

@media (min-width: 768px) {
  .headerContainer {
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    padding: 0 4rem 0 4rem;
  }
}
